* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: black;
}

header, nav, .hero, .produtos {
    display: flex;
    flex-wrap: wrap;
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: red;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: yellow;
}

nav {
    gap: 2rem;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

nav a :hover {
    color: yellow;
}

@media (max-width: 425px) {
    nav a {
        font-size: 0.75rem;
    }
}

main {
    padding: 2rem;
    min-height: 100vh;
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: red;
}

main p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.hero {
    gap: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
}

.hero img {
    width: 500px;
    min-width: 300px;
    border-radius: 15px;
}

.hero-text {
    flex: 1;
    min-width: 300px;
}

.hero-text h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: red;
}

.hero-text p {
    font-size: 1.1rem;
    text-align: justify;
    font-style: italic;
}

.hero-text ul {
    text-align: left;
    margin: 0 0 2rem 2rem;
}

li {
    margin-bottom: 0.5rem;
}

.obs {
    color: gray;
}

.produtos {
    gap: 1.5rem;
}

.card {
    flex: 1;
    min-width: 250px;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    background-color: red;
    color: white;
    transition: 0.3px;
}

.card hover {
    transform: translate(-5px);
}

.card img {
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
    border-radius: 50px;
}

.yellow {
    background: rgb(239, 239, 4);
    color: black;
}

.green {
    background: green;
    color: black;
}

.blue {
    background: blue;
    color: black;
}

.black {
    background: black;
    color: white;
}

.brown {
    background: rgba(69, 5, 5, 0.986);
    color: white;
}

footer {
    background: red;
    color: white;
    text-align: center;
    padding: 2rem;
}
